{
  "openapi": "3.1.0",
  "info": {
    "title": "AdsEra REST API",
    "description": "Welcome to the AdsEra REST API. Use our API to integrate powerful, multi-channel communication (Email and WhatsApp) directly into your applications. Automate transactional messages, trigger marketing campaigns, manage your audience, and track performance programmatically.",
    "version": "1.0.0",
    "contact": {
      "name": "Shubham",
      "email": "shubham@adsera.in"
    }
  },
  "servers": [
    {
      "url": "https://app.adsera.in",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "AppIdAuth": [],
      "AppSecretAuth": []
    }
  ],
  "tags": [
    {
      "name": "Channels",
      "description": "Operations for managing WhatsEra channels (WhatsApp Account)"
    }
  ],
  "paths": {
    "/whatsera/api/channel/list": {
      "get": {
        "tags": ["Channels"],
        "summary": "Retrieve a list of channels (WA Accounts)",
        "description": "Fetches a list of all WhatsEra channels associated with the authenticated company account.",
        "operationId": "listChannels",
        "responses": {
          "200": {
            "description": "A list of channels was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelListSuccessResponse"
                },
                "example": {
                  "status": 200,
                  "success": true,
                  "error": null,
                  "channels": [
                    {
                      "_id": "6599202896434347169XXXXX",
                      "userId": "6599202896434347169XXXXX",
                      "name": "Channel 1",
                      "isResellerChannel": false,
                      "partnerId": "6599202896434347169XXXXX",
                      "status": "Disconnected",
                      "wago": true,
                      "createdAt": "2025-09-03T06:41:27.538Z",
                      "forIos": false,
                      "wId": "68b93f17afc23c1f5abdXXX@s.whatsapp.net",
                      "updatedAt": "2025-09-04T07:26:15.591Z",
                      "__v": 0
                    },
                    {
                      "_id": "6599202896434347169XXXXX",
                      "userId": "6599202896434347169XXXXX",
                      "name": "Channel 2",
                      "isResellerChannel": false,
                      "partnerId": "6599202896434347169XXXXX",
                      "status": "Active",
                      "wago": true,
                      "createdAt": "2025-08-07T07:55:40.429Z",
                      "forIos": false,
                      "wId": "68b93f17afc23c1f5abdXXX:62@s.whatsapp.net",
                      "updatedAt": "2025-09-04T08:08:41.674Z",
                      "__v": 0,
                      "mobile": 91123456789,
                      "expireAt": "2025-08-22T18:30:00.000Z",
                      "wUsername": "Channel 1"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "400": {
            "description": "Bad Request. The request could not be processed, often due to a missing or invalid resource like a WhatsEra account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "success": false,
                  "error": "WhatsEra account not found!"
                }
              }
            }
          }
        }
      }
    },
    "/whatsera/api/channel/view/{channelId}": {
      "get": {
        "tags": ["Channels"],
        "summary": "Retrieve a single channel by ID",
        "description": "Fetches the details of a specific WhatsEra channel using its unique identifier.",
        "operationId": "getChannelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChannelId"
          }
        ],
        "responses": {
          "200": {
            "description": "The channel details were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelViewSuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Bad Request. The request could not be processed, often due to a missing or invalid resource like a WhatsEra account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "success": false,
                  "error": "WhatsEra account not found!"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "success": false,
                  "error": "Channel not found!"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },

  "components": {
    "securitySchemes": {
      "AppIdAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your unique application ID, generated from the AdsEra panel."
      },
      "AppSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-secret",
        "description": "Your unique application secret, generated from the AdsEra panel."
      }
    },
    "schemas": {
      "Channel": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique database identifier for the channel.",
            "example": "6599202896434347169XXXXX"
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user who owns the channel.",
            "example": "6599202896434347169XXXXX"
          },
          "name": {
            "type": "string",
            "description": "The user-defined name of the channel.",
            "example": "My Account"
          },
          "isResellerChannel": {
            "type": "boolean",
            "description": "Flag indicating if this is a reseller channel.",
            "example": false
          },
          "partnerId": {
            "type": "string",
            "description": "The ID of the associated partner.",
            "example": "6599202896434347169XXXXX"
          },
          "status": {
            "type": "string",
            "description": "The current connection status of the channel.",
            "enum": ["Active", "Disconnected"],
            "example": "Active"
          },
          "wago": {
            "type": "boolean",
            "description": "A flag related to the channel's service provider.",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the channel was created.",
            "example": "2025-09-03T06:41:27.538Z"
          },
          "forIos": {
            "type": "boolean",
            "description": "Flag indicating if the channel is configured for iOS.",
            "example": false
          },
          "wId": {
            "type": "string",
            "description": "The WhatsApp specific ID for the channel.",
            "example": "91123456789:62@s.whatsapp.net"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the channel was last updated.",
            "example": "2025-09-04T07:26:15.591Z"
          },
          "__v": {
            "type": "integer",
            "description": "The version key of the document.",
            "example": 0
          },
          "mobile": {
            "type": "integer",
            "description": "The mobile number associated with the channel (optional).",
            "example": 91123456789
          },
          "expireAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the channel subscription expires (optional).",
            "example": "2025-08-22T18:30:00.000Z"
          },
          "wUsername": {
            "type": "string",
            "description": "The WhatsApp username associated with the channel (optional).",
            "example": ""
          }
        }
      },
      "ChannelListSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "error": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          }
        }
      },
      "ChannelViewSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 200
          },
          "success": {
            "type": "boolean",
            "example": true
          },
          "error": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "data": {
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          },
          "msg": {
            "type": "String"
          },
          "errors": {
            "type": "object"
          }
        },
        "required": ["status", "success", "error"]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request. The request could not be processed, often due to a missing or invalid resource like a WhatsEra account.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 400,
              "success": false,
              "error": "WhatsEra account not found!"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication failed. The `x-api-key` or `x-api-secret` headers are missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 401,
              "success": false,
              "error": "Unauthorized: Please provide valid API credentials."
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error. An unexpected condition was encountered on the server.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": 500,
              "success": false,
              "error": "Internal Server Error!"
            }
          }
        }
      }
    },
    "parameters": {
      "ChannelId": {
        "name": "channelId",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the channel to retrieve.",
        "schema": {
          "type": "string"
        }
      }
    }
  }
}
